# Node.js
node_modules/

# Fabric runtime
organizations/
channel-artifacts/
system-genesis-block/
log.txt

# Wallet
wallet/

# Generated packages
*.tar.gz

# Environment
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
